[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
Assets/Plugins
Assets/Firebase
Assets/Editor Default Resources
Assets/ExternalDependencyManager
Assets/Parse
Assets/Photon
Assets/FacebookSDK
Assets/Plugins
[Ee]xe/
[Hh]tml/
Assets/GoogleMobileAds
Assets/PlayServicesResolver
JSON/
*.zip
.idea
.iml
*.iml
*.log
*.apk
*.aab
*.sln
*.csproj
.DS_Store
.vs